.mini-component{ width: 117px;
  .icon-box,
  .stats-box,
  .ui-box     { background:white; margin:0 0 4px 0; }
  .icon-box   { height:92px; display:flex; flex-direction: column; align-items:center; justify-content:center;
    .icon     { min-height: 50px; }
    .label    { font-weight: bold; text-transform: uppercase; font-size:11px; color:$slate-blue;  text-align:center; }
  }
  .stats-box  { padding:2px 0; min-height: 26px;}
  .ui-box     { height:38px; cursor:pointer; display:flex; justify-content: center; align-items: center;
    .label    { font-size:11px; font-style: italic; color:$slate-blue; font-weight:600; margin:0 0 0 4px;}
    &:hover   { background:$link-blue;
      .label  { color:white; }
      svg *   { stroke:white; }
    }
  }
  &.hidden    { display:none; }
}
