.full-component
  .overview
    .top
      .icon
        img.shadow-icon(data-src="#{kind}", scalable=true)
      .label #{name}
      .back-btn
        img.shadow-icon(data-src="back-arrow")
        .txt Back
    .details
      .descript=description
      .config
        .title Configuration
        .options
          .option.simple.active
            input(type="radio" checked="checked" value="Mr" name="config")
            .txt Simple
          .option.scalable.disabled
            input(type="radio" value="Mr" name="config")
            .txt Scalable
  .component-div
    .bg-div
